@font-face {
	font-family: "PT Sans Narrow";
	src: url('../fonts/web/ptsansnarrowbold.woff2');
	font-weight: 700;
	font-style: normal;
}
body {
	font-family: "PT Sans Narrow", sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	background-image: url(../img/mainbg.jpg);
	background-position:top;
	background-color: #000;
	background-repeat: no-repeat;
}
h2{
	font-size: 30px;
}
p{
	font-size:14px;
}
.visually-hidden{
	position: absolute;
	top: -2000px;
}
.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	border: 0;
}
.btn{
	color: #fff;
	font-size:14px;
	padding:12px 34px;
	background-color: #000;
	border: 0;
	font-family: inherit;
	text-decoration: none;
}
header {
	background-color: #000;
	margin: 0;
	padding: 0;
	min-height: 71px;
}
ul {
	list-style: none;
}
header a {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
section.promo{
	color:#f7f4f1;
	margin-bottom: 79px;
}
.widget{
	background-color: #D3D7CFFF;
	background-image: url(../img/widgetbg.jpg);
	background-repeat: repeat;
}
label{
	display: block;
	margin-left: 16px;
	margin-bottom: 8px;
}
input{
	font-family: inherit;
	box-sizing: border-box;
	width:140px;
	border-radius: 0;
	border:2px solid #000;
	padding: 10px 14px;
}
footer{
	background-color: #2E3436FF;
	background-image: url(../img/footerbg.jpg);
	background-repeat: repeat;
}
footer p{
	color:#fff;
}
.about a{
	color:#fff;
}

/*------ END BASE SYLES -----------*/


/*::::::: HEADER :::::::::::::::::::*/

.menu-top{
	display: flex;
	justify-content:space-between;
}
	.menu-top__left-menu{
		display: flex;
		justify-content:space-between;
		margin:0;
		padding:0px 0px;
	}
		.menu-top__left-menu li{
			display: flex;
			margin:0;
			padding:0;
		}
		.menu-top__left-menu a{
			margin:0;
			padding:23px 19px;
			padding-bottom: 26px;
		}
	.menu-top__right-menu{
		margin:0;
		padding:0;
	}
		.menu-top__right-menu li{
			display: flex;
			margin:0;
			padding:0;
		}
		.menu-top__right-menu a{
			margin:0;
			padding:22px 22px;
			padding-left: 40px;
			position: relative;
			padding-bottom: 27px;
		}
		.menu-top__right-menu .login-ico{
			position: absolute;
			top: 26px;
			left: 10px;
			opacity: 0.2;
		}
	.menu-top a:hover{
		background-color: #323232;
	}
	.menu-top a:hover .login-ico{
		opacity: 1;
	} 

/*----- END HEADER --------------*/

/*:::::::: MAIN :::::::::::::::::*/
.promo{
	text-align: center;
}
	.promo__logo{
		margin-top: 61px;
		margin-bottom:42px;

		box-sizing: border-box;
		width: 370px;
		height: auto;
	}

	.promo__edges{
		padding: 0;
		margin:0;
		margin-bottom: 20px;
		display:flex;
		justify-content:space-between;
	}
		.edge{
			max-width: 300px;
		}
		.edge h2{
			margin-bottom: 7px;
		}
		.edge img{
			margin-bottom: 18px;
		}
		.edge p{
			line-height: 24px;
			margin: 0;
		}
